<?xml version="1.0"?>
<robot name="farscope_example_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- mobile base -->
  <xacro:include filename="$(find farscope_group_proj)/models/mobile_arm/mobile_arm.urdf.xacro" />

  <xacro:mobile_arm />

  <!-- ****** gripper ****** -->
  <xacro:include filename="$(find farscope_group_proj)/models/gripper/simple_gripper.urdf.xacro" />

  <xacro:simple_gripper parent_link="tool0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:simple_gripper>

  <!-- ************************************ -->
  <!-- ****** camera ****** -->
  <xacro:include filename="$(find farscope_group_proj)/models/camera/simple_camera.urdf.xacro" />
  
  <xacro:arg name="camera_parent_link" default="forearm_link" />
  <xacro:arg name="camera_origin_xyz" default="0 -0.08 0.38" />
  <xacro:arg name="camera_origin_rpy" default="0 -1.5706 0" />

  <joint name="camera_to_robot" type="fixed">
    <parent link="$(arg camera_parent_link)" />
    <child link = "camera_link" />
    <origin xyz="$(arg camera_origin_xyz)" rpy="$(arg camera_origin_rpy)" />
  </joint>

</robot>
