<?xml version="1.0"?>
<robot name="farscope_example_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- mobile base -->
  <xacro:include filename="$(find farscope_group_proj)/models/mobile_arm/mobile_arm.urdf.xacro" />

  <xacro:mobile_arm />

  <!-- ****** gripper ****** -->
  <xacro:include filename="$(find farscope_group_proj)/models/gripper/simple_gripper.urdf.xacro" />

  <xacro:simple_gripper parent_link="tool0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:simple_gripper>

  <!-- ****** cameras ****** -->
  <xacro:include filename="$(find farscope_group_proj)/models/camera/simple_camera.urdf.xacro" />
  
  <xacro:simple_camera camera_name="camera1" parent_link="forearm_link" >
    <origin xyz="0 -0.08 0.38" rpy="0 -1.5706 0" />
  </xacro:simple_camera>

  <xacro:simple_camera camera_name="camera2" parent_link="upper_arm_link" >
    <origin xyz="0 0 0.7" rpy="0 -0.75 0" />
  </xacro:simple_camera>

</robot>
