<?xml version="1.0" ?>

<launch>
  
  <param name="robot_description" command="$(find xacro)/xacro $(find farscope_group_proj)/models/example_robot/farscope_example_robot.urdf.xacro" />  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find farscope_group_proj)/launch/example_robot/visualize.rviz" required="True" />

</launch>
