<?xml version="1.0" ?>

<launch>

  <!-- get robot desc URDF into parameter --> 
  <param name="robot_description" command="$(find xacro)/xacro $(find farscope_group_proj)/urdf/farscope_robot.urdf.xacro use_grasp_fix:=False" />  
  
  <!-- launching gazebo (copied from ur_gazebo/ur10.launch) -->
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find farscope_group_proj)/gazebo/farscope_test_2.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- spawn targets -->
  <node name="spawn_gazebo_target_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_1 -x 2.0 -y 0.0 -z 0.06" respawn="false" output="screen" />
  <node name="spawn_gazebo_target_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_2 -x 2.0 -y 0.0 -z 0.43" respawn="false" output="screen" />
  <node name="spawn_gazebo_target_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_3 -x 2.0 -y 0.0 -z 0.81" respawn="false" output="screen" />
  <node name="spawn_gazebo_target_4" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_4 -x 2.0 -y 0.0 -z 1.21" respawn="false" output="screen" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />

  <!-- start robot state pub and joint state from gazebo -->
  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>
  
  <!-- start UR10 controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur10.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <rosparam command="load"
            file="$(find farscope_group_proj)/controller/gripper.yaml"
            />
  <node name="gripper_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn finger1_controller finger2_controller" respawn="false" output="screen"/>

</launch>
