<?xml version="1.0" ?>

<launch>

  <arg name="camera_parent_link" default="forearm_link" />
  <arg name="camera_origin_xyz" default="0 -0.08 0.38" />
  <arg name="camera_origin_rpy" default="0 -1.5706 0" />

  <include file="$(find farscope_group_proj)/launch/farscope_robot_description.launch" >
    <arg name="camera_parent_link" value="$(arg camera_parent_link)" />
    <arg name="camera_origin_xyz" value="$(arg camera_origin_xyz)" />
    <arg name="camera_origin_rpy" value="$(arg camera_origin_rpy)" />
  </include>

  <!-- launching gazebo (copied from ur_gazebo/ur10.launch) -->
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find farscope_group_proj)/gazebo/farscope_test_2.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- spawn targets -->
  <node name="spawn_gazebo_target_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_1 -x 2.0 -y 0.0 -z 0.06" respawn="false" output="screen" />
  <node name="spawn_gazebo_target_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_2 -x 2.0 -y 0.0 -z 0.43" respawn="false" output="screen" />
  <node name="spawn_gazebo_target_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_3 -x 2.0 -y 0.0 -z 0.81" respawn="false" output="screen" />
  <node name="spawn_gazebo_target_4" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find farscope_group_proj)/urdf/target.urdf -model target_4 -x 2.0 -y 0.0 -z 1.21" respawn="false" output="screen" />

  <!-- spawn SDF obstacle -->
  <node name="spawn_gazebo_cone_1" pkg="gazebo_ros" type="spawn_model" args="-sdf -database construction_cone -model cone_1 -y -3" respawn="false" output="screen" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />

  <!-- joint_state_controller -->
  <rosparam file="$(find ur_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
  
  <!-- start UR10 controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur10.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <rosparam command="load"
            file="$(find farscope_group_proj)/controller/gripper.yaml"
            />
  <node name="gripper_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn finger1_controller finger2_controller" respawn="false" output="screen"/>

</launch>
